<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.study.dawn.dao.BoardDao">

    <insert id="create" parameterType="HashMap">
        insert into board(title, content, writer)
        values(#{title}, #{content}, #{writer})
    </insert>

    <select id="read" resultType="HashMap" parameterType="Integer">
        select id, title, content, writer
        from board
        where id = #{id}
    </select>

    <update id="update" parameterType="HashMap">
        update board
        set title = #{title}, content = #{content}
        where id = #{id}
    </update>

    <delete id="delete" parameterType="Integer">
        update board
        set del_tm = now()
        where id = #{id}
    </delete>

    <select id="getAllList" resultType="HashMap">
        select id, title, done
        from board
    </select>

</mapper>