<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.study.dawn.dao.BoardDao">

    <insert id="create" parameterType="HashMap">
        INSERT INTO board(title, writer)
        VALUES(#{title}, #{writer})

        <selectKey keyProperty="id" resultType="Integer">
          SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <select id="read" resultType="HashMap" parameterType="Integer">
        SELECT id, title, writer, done
        FROM board
        WHERE id = #{id}
    </select>

    <update id="toggleDone" parameterType="HashMap">
        UPDATE board
        SET done = #{done}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="Integer">
        UPDATE board
        SET del_tm = now()
        WHERE id = #{id}
    </delete>

    <select id="getAllList" resultType="HashMap">
        SELECT id, title, done
        FROM board
        WHERE del_tm is null
    </select>

</mapper>